{% extends 'layout.html' %}

{% block body %}
  <h2 id=txt>The XMLHttpRequest Object</h2>

<button id="btn" type="button" onclick="loadDoc()">Request data</button>

<div id="news-info"></div>


<script>
var container =document.getElementById("news-info");
var button = document.getElementById("btn");
var heading=document.getElementById("txt")

function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "https://raw.githubusercontent.com/abhishekshil/RSSExtract/master/static/temp.json", true);
  xhttp.onload= function() {
     if (xhttp.status==200)
      {var loadData = JSON.parse(xhttp.responseText);
     heading.parentNode.removeChild(heading);
      button.parentNode.removeChild(button);
      renderHTML(loadData.Response)
     }
  };

  xhttp.send();
}
function renderHTML(data){
	var htmlString="";

	for(i=0;i<data.length;i++)
	{if(data[i].Article_Id=='1')
		htmlString+="<br><br><h1 class='recenter'><b>"+data[i].Categories+"</b></h1><br></br>"
   else htmlString+="<div class='recenter1'><h2><b>"+data[i].Title+"</b></h2>"+"<h4><b>Description:<b><h4><p><i>"+data[i].Description+"</i></p>"+"<h5>"+"DOP:"+data[i].Date_Of_Publishing+"</h5>"+"<a href='"+data[i].Links+"'>Visit Website</a></h4></div>"	
  }
	container.insertAdjacentHTML('beforeend',htmlString);
}
</script>

{% endblock %}
