{% extends 'layout.html' %}

{% block body %}
  <h2>The XMLHttpRequest Object</h2>

<button id="btn" type="button" onclick="loadDoc()">Request data</button>

<div id="news-info"></div>


<script>
var container =document.getElementById("news-info");

function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "https://raw.githubusercontent.com/abhishekshil/RSSExtract/master/static/temp.json", true);
  xhttp.onload= function() {
     if (xhttp.status==200)
      {var loadData = JSON.parse(xhttp.responseText);
      renderHTML(loadData.Response)
     }
  };

  xhttp.send();
}
function renderHTML(data){
	var htmlString="";

	for(i=0;i<data.length;i++)
	{if(data[i].Article_Id=='1')
		htmlString+="<h1>"+data[i].Categories+"</h1>"
   //else htmlString+="<div><h2>"+data[i].Title+"<h2>"+"<h4>"+"Description:"+data[i].Description+"<h4>"+"<h5>"+"DOP:"+data[i].Date_Of_Publishing+"<h5>"+"<h4>"+"Link:"+data[i].Links+"<h4><div>"	
  }
	container.insertAdjacentHTML('beforeend',htmlString);
}
</script>

{% endblock %}
