<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .recenter {
      border-radius: 25px;
      border:2px solid #000000;
      padding: 20px;
      box-shadow: 2px 5px #888888;
      width: 100%;
      min-height: 100px;
      max-height: 400px;
    }
    .recenter1 {
      border-radius: 10px;
      border:2px solid #000000;
      padding: 20px;
      width: 100%;
      min-height: 100px;
      max-height: 400px;
    }
  
  </style>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
